<html>
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <img src="images.jpg"/>
        <p>Monash University</p>
        <p>Jenul Ferdinand 33119805</p>
        <p>Active Units <%= activeStudents.length %></p>
        <p>In-Active Units <%= inActiveStudents.length %></p>

        <a href="/jenul/units">Units Table</a> <br/>
        <a href="/jenul/units/active">Active Units Table</a> <br/>
        <a href="/jenul/units/add">Add a Unit</a>
    </body>
</html>